<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>910566126254-tpr1qqu0a7ok6e9sc1l5r7l7rsnit6n5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910566126254-tpr1qqu0a7ok6e9sc1l5r7l7rsnit6n5</string>
	<key>API_KEY</key>
	<string>AIzaSyCHRFdTkqaR7HRjhuYg8ioWw91J4atyf2s</string>
	<key>GCM_SENDER_ID</key>
	<string>910566126254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jesusjoyful.school</string>
	<key>PROJECT_ID</key>
	<string>jsschool-f6a38</string>
	<key>STORAGE_BUCKET</key>
	<string>jsschool-f6a38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910566126254:ios:ab7764ff38c74271</string>
	<key>DATABASE_URL</key>
	<string>https://jsschool-f6a38.firebaseio.com</string>
</dict>
</plist>